<VirtualHost *:80>
        ServerAdmin {{ server_admin_email }}

        DocumentRoot /var/www/wordpress
        <Directory />
			Options FollowSymLinks
			AllowOverride None
        </Directory>
        <Directory /var/www/wordpress>
			Options Indexes FollowSymLinks MultiViews
			AllowOverride all
			Order allow,deny
			allow from all
        </Directory>

		{% if not force_ssl_admin and force_http_auth_admin %}
			{% include "http_auth_partial.j2" %}
		{% endif %}

</VirtualHost>

{%  if force_ssl_admin %}

<VirtualHost *:443>

	DocumentRoot /var/www/wordpress
	<Directory />
		Options FollowSymLinks
		AllowOverride None
	</Directory>
	<Directory /var/www/wordpress>
		Options Indexes FollowSymLinks MultiViews
		AllowOverride all
		Order allow,deny
		allow from all
	</Directory>

	SSLEngine on
	SSLCertificateFile    /etc/apache2/ssl/{{ ssl_crt_file }}
	SSLCertificateKeyFile /etc/apache2/ssl/{{ ssl_pem_file }}

	{% if force_http_auth_admin %}
		{% include "http_auth_partial.j2" %}
	{% endif %}

</VirtualHost>

{% endif %}