<?php
define('DB_NAME', '{{ db_name }}');
define('DB_USER', '{{ wordpress_db_user }}');
define('DB_PASSWORD', '{{ wordpress_db_password }}');
define('DB_HOST', '{{ db_host }}');
define('SECRET_KEY', '{{ wp_secret_key }}');

#This will disable the update notification.
define('WP_CORE_UPDATE', true);

{%  if force_ssl_admin %}
	define('FORCE_SSL_ADMIN', true);
{% endif %}

$table_prefix  = 'wp_';
$server = DB_HOST;
$loginsql = DB_USER;
$passsql = DB_PASSWORD;
$base = DB_NAME;
$upload_path = "/srv/www/wp-uploads/{{ domain }}";
$upload_url_path = "http://{{ domain }}/wp-uploads";
?>